<% if flash[:notice] %>
  <p id="notice" style="color: red; font-weight: bold;"><%= flash[:notice] %></p>
<% end %>

<h1>Movies</h1>

<!-- Formulário TMDb (Cenário 1) -->
<h3>Search TMDb for a movie</h3>
<%= form_with url: search_tmdb_path, method: :post, local: true do |form| %>
  <%= form.label :search_terms, "Search Terms" %>
  <%= form.text_field :search_terms, id: "search_terms" %>
  <%= form.submit "Search TMDb" %>
<% end %>
<br>

<!-- Tabela Clássica de Filmes exigida pelo ESaaS -->
<table id="movies">
  <thead>
    <tr>
      <!-- O link de ordenação com o ID que o Cucumber procura -->
      <th><%= link_to "Movie Title", movies_path(sort: "title"), id: "title_header" %></th>
      <th>Rating</th>
      <th>Description</th>
      <th>Release Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.description %></td>
        <td><%= movie.release_date.strftime("%Y-%m-%d") if movie.release_date %></td>
        <td>
          <%= link_to "Show", movie %> |
          <%= link_to "Edit", edit_movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- O link para criar novo filme com o texto exato que o teste procura -->
<%= link_to "Add new movie", new_movie_path %>